{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'airport/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="background"></div>
{% block mainmenu %}
    <div class="menu">
        <ul class="list">
            {% for m in menu %}
                <a class="text-list" href="{{ m.url_name }}">
                    <li>{{ m.title }}</li>
                </a>
            {% endfor %}
            {% if request.user.is_authenticated %}
                <li class="last">{{ user.user_name }} | <a class="text-list" href="{% url 'airport:logout' %}">Выйти</a>
                </li>
            {% else %}
                <li><a class="text-list" href="{% url 'airport:register' %}">Регистрация</a> |
                    <a class="text-list" href="{% url 'airport:login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock mainmenu %}

{% block content %}
{% endblock %}
</body>
</html>