{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'airport/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="background" ></div>
    {% block mainmenu %}
        <div class="menu" >
        <ul class="list">
            {% for m in menu %}
                <a href="{{ m.url_name }}">
               <li>{{m.title}}</li>
                </a>
            {% endfor %}
            <li><a href="{% url 'airport:register' %}">Регистрация</a> |
            <a href="{% url 'airport:login' %}">Войти</a></li>
        </ul>
        </div>
    {% endblock mainmenu %}

    {% block content %}
    {% endblock %}
</body>
</html>