{% extends 'base.html' %}

{% block content %}
<h1 href="{% url 'airport:analytics' %}" class="title">
        {{ title }}
</h1>
    <div class="analytics-container">
     <canvas id="myChart" width="600" height="400"></canvas>
    {{ information }}
    </div>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:  {{ labels|safe }},
                datasets: [{
                    label: 'Важность факторов',
                    data: {{ data|safe }},
                    backgroundColor: [
                        'rgba(216, 27, 96, 0.6)',
                        'rgba(3, 169, 244, 0.6)',
                        'rgba(255, 152, 0, 0.6)',
                        'rgba(29, 233, 182, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                    ],
                    borderColor: [
                        'rgba(216, 27, 96, 1)',
                        'rgba(3, 169, 244, 1)',
                        'rgba(255, 152, 0, 1)',
                        'rgba(29, 233, 182, 1)',
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Важность факторов',
                    position: 'top',
                    fontSize: 16,
                    padding: 20
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            {#max: 100,#}
                        }
                    }]
                }
            }
        });
        console.log('MY CHART: ', myChart)
    </script>
    <a class="button-exit" href="{% url 'airport:home' %}">Выход</a>

{% endblock %}