{% extends 'base.html' %}

{% block content %}
    <h1 class="title">
        {{ title }}
    </h1>
    <div class="expert-info">1 - наиболее важный фактор
        <br>5 - наименее важный фактор
        <br>Оценки не должны повторяться!
    </div>
    <form action="" method="POST" >
        {% csrf_token %}
        {% for p in form %}
            {% if p.label == "User" %}
                <div hidden>{{ p }}</div>
            {% else %}
                <p >
                    <label for="{{ p.id_for_label }}">
                        {{ p.label }}: {{ p }}
                    </label>
                </p>
                <div>{{ p.errors }}</div>
            {% endif %}
        {% endfor %}
        <input class="button" type="submit" onclick="history.back();" value="Добавить"/>
        <a class="button-exit" href="{% url 'airport:home' %}">Выход</a>
    </form>

{% endblock %}