{% extends 'base.html' %}

{% block content %}
    <h1 class="title">
        {{ flight.departure_city }} - {{ flight.arrival_city }}
    </h1>
    <div class="flight-info">
        <p><br>Время отправления: {{ flight.departure_time }}
        <br>Время прибытия: {{ flight.arrival_time }}</p>
        <p><br> {{ flight.route_info }}</p>
        <p id="price"><br> Цена: {{ flight.price }}$ </p>


    <br>

    </div>
    <a class="button-exit" href="{% url 'airport:home' %}">Выход</a>
{% endblock %}