{% extends 'base.html' %}

{% block content %}
    <h1 class="title-body">
        {{ title }}
    </h1>
    <div class="div-info">
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p>
                    {{ f }}
                </p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button class="button" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}